ion-content ion-toolbar {
  --background: translucent;
}

ion-item {
  text-align: center;
}


#fahrenneit {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label {
  font-size: 3vh;
  text-align: center;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 400px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  text-align: center;
  top: 20%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}