<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Distance
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Distance</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="tertiary">
    <div class="wrapper">
      <h1>Distance en miles</h1>
      <h2>121</h2>
    </div>
  </ion-text>

  <ion-item>
    <ion-label class="label" position="stacked">Distance en km</ion-label>
    <ion-input></ion-input>
  </ion-item>

</ion-content>
