<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Devise
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Devise</ion-title>
    </ion-toolbar>
  </ion-header>

<div id="euros"> 
  <ion-item>
    <ion-label class="label" position="stacked">Indiquez la somme en euros</ion-label>
    <ion-input [(ngModel)]="euros" (change)="conversiondollars()"></ion-input>
  </ion-item>

  <ion-text color="success">
    <div class="wrapper">
      <h1>{{resultatd}} $</h1>
    </div>
  </ion-text>
</div> 

<div id="dollars">
  <ion-item>
    <ion-label class="label" position="stacked">Indiquez la somme en dollars</ion-label>
    <ion-input [(ngModel)]="dollars" (change)="conversioneuros()"></ion-input>
  </ion-item>

  <ion-text color="success">
    <div class="wrapper">
      <h1>{{resultate}} €</h1>
    </div>
  </ion-text>
</div>


</ion-content>
